.laundry-selection {
  text-align: center;
  padding: 50px 0;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .service-options {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .service-option {
      max-width: 250px;
      margin: 0 20px;
      text-align: center;
      cursor: pointer;
      position: relative; // Needed for checkmark positioning
      border: 2px solid transparent; // Default border
      transition: border-color 0.3s ease;

      &.selected {
        border-color: #ff5c5c; // Highlight border when selected
      }

      .img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        color: #555;
      }

      .checkmark {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
      }
    }
  }

  .cta-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #ff5c5c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ff1c1c;
    }
  }
}
