.navbar {
  background-color: #212529; // WashWagon theme color
  color: #fff;
  padding: 1.2rem 1rem;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; // Ensure the container spans full width

    .brand {
      display: flex;
      align-items: center;

      .brand-logo {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      .brand-name {
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    .hamburger {
      display: none;
      background: none;
      border: none;
      cursor: pointer;

      .bar {
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
        margin: 5px 0;
        transition: 0.3s ease-in-out;
      }
    }

    .nav-links {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        margin-left: 20px;

        a {
          text-decoration: none;
          color: #fff;
          font-weight: 500;
          transition: 0.3s;

          &:hover {
            color: #ffd700; // Highlight color
          }
        }

        .cta-button {
          padding: 0.5rem 1rem;
          background-color: #0c5e2e; // Call-to-action color
          border: none;
          border-radius: 5px;
          color: #007acc;
          font-weight: bold;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background-color: #fff;
            color: #007acc;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .hamburger {
        display: block;
      }

      .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #212529;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        z-index: 999;

        &.active {
          display: flex;
        }

        li {
          margin: 10px 0;
        }
      }
    }
  }
}
